body{
  font-family:serif;
}
nav{
  background-color:#050b1b;
  color:white;
  padding-bottom:3px;
  position:sticky;
  z-index:999;
  top:0;
}
.nav_a{
  color:white;
  text-decoration:none;
}
.nav_ul{
  list-style:none;
}
.nav_li{
  display:inline-block;
  margin-left:15px;
}



header{
  background-image:url(Images/header_background.png);
  background-repeat:no-repeat;
  background-size:cover;
  margin-top:0;
  height:500px;
  text-align:center;
}
h1{
  font-family:sans-serif;
  background-color:#050b1b;
  color:white;
  margin-top:200px;
  margin-left:auto;
  margin-right:auto;
  padding:15px;
  width:fit-content;
}
.header_p{
  color:gray;
  background-color:rgba(fff,fff,fff,0.5);
}


/* ここより、h2,h3 */
h2{
  font-family:sans-serif;
  padding-left:3px;
  padding-bottom:2px;
  border-bottom:#050b1b solid 2px;
  border-left:solid yellow 5px;
}
h3{
  font-family:sans-serif;
  padding-left:2.5px;
  padding-bottom:1.5px;
  border-left:green solid 3px;
  border-bottom:solid blue 2px;
  padding-right:5px;
  width:fit-content;
}


/* ここより、各セクションの基本設定 */
section{
  padding:50px;
}

/* details , summary */
details {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
  border-radius: 8px;
  overflow: hidden; /* 角丸からはみ出さないように */
  margin-bottom: 15px;
  background-color: white;
}

summary {
  padding: 12px 15px;
  background-color: #f0f0f0; /* 見出しの背景色 */
  cursor: pointer;
  font-size: 1.1em;
  border-bottom: 1px solid #ddd; /* 下線 */
}

details[open] summary {
  /* 開いている時の見出しのスタイル変更 */
  background-color: #e8e8e8;
}

details > * {
  /* 詳細コンテンツのパディング */
  padding: 15px;
  padding-left:45px;
}
