body{
  font-family:serif;
}
nav{
  background-color:black;
  color:white;
  padding-bottom:3px;
  position:sticky;
  z-index:999;
  top:0;
}
.nav_a{
  color:white;
  text-decoration:none;
}
.nav_ul{
  list-style:none;
}
.nav_li{
  display:inline-block;
}

.nav_li + .nav_li{
  border-left:1px solid #ccc;
  margin-left: -1px;
}


header{
  background-color:white;
  height:500px;
  text-align:center;
}
h1{
  font-family:sans-serif;
  background-color:black;
  color:white;
  margin-top:200px;
  margin-left:auto;
  margin-right:auto;
  padding:15px;
  width:fit-content;
}
.header_p{
  color:gray;
}


/* ここより、h2,h3 */
h2{
  font-family:sans-serif;
  padding-left:3px;
  padding-bottom:2px;
  border-bottom:black solid 2px;
  border-left:solid yellow 5px;
}
h3{
  font-family:sans-serif;
  padding-left:2.5px;
  padding-bottom:1.5px;
  border-left:green solid 3px;
  border-bottom:solid blue 2px;
  padding-right:5px;
  width:fit-content;
}


/* ここより、各セクションの基本設定 */
section{
  padding:50px;
}
