body{
  font-family:fantasy;
}
nav{
  background-color:black;
  color:white;
  padding-bottom:3px;
}

header{
  background-color:white;
  height:500px;
}
h1{
  font-family:sans-serif;
  background-color:black;
  color:white;
  margin:0 auto;
  padding:15px;
  width:fit-content;
}
.header_p{
  color:gray;
  margin:0 auto;
}
