@keyframes thisisafirstimage{
  from{
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
    z-index:999;
  }
  to{
    overflow:visible;
    z-index:0;
    display:none;
  }
}
@keyframes firstbody{
  from{
    overflow:hidden;
    display:none;
    background-color:black;
  }
  to{
    overflow:visible;
    display:block;
  }
}

.miniblock{
  margin-left:15px;
  padding:15px;
  background-color:#f8eacf;
  border-radius:10px;
}

.thisisafirstimage{
  animation:5s thisisafirstimage;
  display:none;
}

body:not(.thisisafirstimage){
  animation:5s firstbody;
}

nav{
  z-index:998;
}
